<!--
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <title>evf-ui demo</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
  <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
  <link rel="import" href="../../paper-styles/paper-styles.html">
  <link rel="import" href="custom-styles.html">
  <link rel="import" href="utils.html">

  <link rel="import" href="../oe-paper-chip.html">

</head>

<body unresolved>

  <div class="vertical-section-container centered">
    <h3>Paper Chip</h3>
    <demo-snippet>
      <template>
        <oe-paper-chip label="No Values"></oe-paper-chip>
        <oe-paper-chip label="Initial Values" value='["A","B"]'></oe-paper-chip>
        <oe-paper-chip label="Only unique values" unique value='["A","B"]'></oe-paper-chip>
        <oe-paper-chip disabled label="Disabled No Values"></oe-paper-chip>
        <oe-paper-chip disabled label="Disabled" value='["A","B"]'></oe-paper-chip>

      </template>
    </demo-snippet>

    <h3>Validations</h3>
    <demo-snippet>
      <template>
        <oe-paper-chip required label="Tags"></oe-paper-chip>
        <oe-paper-chip error-message="invalidValue" invalid label="Tags" value='["A","B"]'></oe-paper-chip>
      </template>
    </demo-snippet>

  </div>

</body>

</html>
