<!-- 
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../iron-dropdown/iron-dropdown.html">
<link rel="import" href="../iron-input/iron-input.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../oe-field-behavior/oe-field-behavior.html">
<link rel="import" href="../paper-input/paper-input-behavior.html">
<link rel="import" href="../paper-input/paper-input-container.html">
<link rel="import" href="../oe-input-error/oe-input-error.html">
<link rel="import" href="../iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../oe-ajax/oe-ajax.html">
<link rel="import" href="../oe-i18n-msg/oe-i18n-msg.html">
<!--
An input control with dropdown for possible valid values.
The data can be supplied statically under `listdata` property and can be dynamically fetched by
specifying `listurl` property.

@demo demo/demo-oe-combo.html
-->
<dom-module id="oe-combo">
  <style>
     :host {
      display: block;
    }

    span.required {
      vertical-align: bottom;
      color: var(--paper-input-container-invalid-color, --google-red-500);
    }

    paper-input-container {
      display: inline-block;
      width: 100%;
    }

    input::-webkit-input-placeholder {
      color: var(--paper-input-container-color, --secondary-text-color);
    }

    input:-moz-placeholder {
      color: var(--paper-input-container-color, --secondary-text-color);
    }

    input::-moz-placeholder {
      color: var(--paper-input-container-color, --secondary-text-color);
    }

    input:-ms-input-placeholder {
      color: var(--paper-input-container-color, --secondary-text-color);
    }

    paper-item {
      cursor: pointer;
    }

    paper-menu {
      max-height: 235px;
      overflow: auto;
    }

    .iron-selected {
      background: var(--combo-selected-backgroud, #e0e0e0);
    }

    #dropdownicon {
      cursor: pointer;
    }

    .dropdown-content> ::content paper-item {
      --paper-item-selected: {
        background-color: #ccc;
      }
    }

  </style>
  <template>
    <div id="cover" style="position:relative;">
      <paper-input-container no-label-float="[[noLabelFloat]]" always-float-label="[[_computeAlwaysFloatLabel(alwaysFloatLabel,placeholder)]]"
        auto-validate$="[[autoValidate]]" disabled$="[[disabled]]" invalid="[[invalid]]">
        <content select="[prefix]"></content>
        <label hidden$="[[!label]]">
                    <oe-i18n-msg msgid=[[label]]>[[label]]</oe-i18n-msg>
                    <template is="dom-if" if={{required}}>
                        <span class="required"> *</span>
                    </template>
                </label>
        <input is="iron-input" id="input" aria-labelledby$="[[_ariaLabelledBy]]" aria-describedby$="[[_ariaDescribedBy]]" disabled$="[[disabled]]"
          bind-value="{{displayValue}}" invalid="{{invalid}}" prevent-invalid-input="[[preventInvalidInput]]" validator="[[validator]]"
          required$="[[required]]" autocomplete$="[[autocomplete]]" inputmode$="[[inputmode]]" name$="[[name]]" placeholder$="[[placeholder]]"
          readonly$="[[readonly]]" size$="[[size]]" autocapitalize$="[[autocapitalize]]" autocorrect$="[[autocorrect]]" on-change="_onChange"
          tabindex$="[[tabindex]]" autosave$="[[autosave]]" results$="[[results]]" accept$="[[accept]]" multiple$="[[multiple]]">
        <div suffix>
          <iron-icon id="dropdownicon" icon="arrow-drop-down"></iron-icon>
          <template is="dom-if" if={{showRefresh}}>
            <iron-icon icon="refresh" on-tap="_fetchListData"></iron-icon>
          </template>
        </div>
        <oe-input-error invalid={{invalid}} placeholders={{errorPlaceholders}} error-message={{errorMessage}}></oe-input-error>
      </paper-input-container>
      <div>
        <iron-dropdown id="dropdown" vertical-align="{{verticalAlign}}" vertical-offset="{{verticalOffset}}" no-auto-focus opened={{expand}}>
          <paper-material tabindex="-1" class="dropdown-content" disabled$="[[disabled]]">
            <paper-menu id="menu">
              <template is="dom-repeat" items="{{_suggestions}}">
                <paper-item on-mouseover="_selection" on-tap="_select" data-item={{item}} data-index={{index}} disabled$="[[readonly]]">
                  <span>{{_getDisplayValue(item)}}</span>
                </paper-item>
              </template>
            </paper-menu>
          </paper-material>
        </iron-dropdown>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'oe-combo',
      listeners: {
        'input.keyup': '_keyup',
        'input.keydown': '_keydown',
        'dropdownicon.tap': '_dropdownClick'
      },
      _onChange: function (e) {
        e.stopPropagation();
        this.validate();
      },
      properties: {
        displayValue: {
          type: String
        },

        /*Property of the list records, that is used for display. When records are plain strings, leave this property undefined*/
        displayproperty: {
          type: String
        },

        /*Property of the selected record, that is set as current value. When records are plain strings, leave this property undefined*/
        valueproperty: {
          type: String
        },

        /*Current value*/
        value: {
          type: Object,
          notify: true,
          observer: '_valueChanged'
        },

        /*Selected record in the list. `value` equals `selectedItem`[`valueproperty`].
         * When records are plain strings, it is same as `value`
         */
        selectedItem: {
          type: Object,
          notify: true
        },

        /*Flag to control whether refresh butyon is displayed or not.*/
        showRefresh: {
          type: Boolean
        },
        _suggestions: {
          type: Array
        },

        /*Array of records to be displayed in dropdown. Can be array of primitives as well as objects.
         * When items are objects, you should specify `displayproperty` and `valueproperty`.
         */
        listdata: {
          type: Array,
          notify: true,
          observer: '_listDataChanged'
        },

        /* URL from where data to be displayed in dropdown, should be fetched*/
        listurl: {
          type: String,
          notify: true,
          observer: '_fetchListData'
        },
        allowFreeText: {
          type: Boolean,
          value: false
        },
        expand: {
          type: Boolean,
          value: false,
          observer: '_expandChange'
        },
        sort: {
          type: Boolean,
          value: false
        },
        verticalOffset: {
          type: String,
          value: 0
        },
        verticalAlign: {
          type: String,
          value: 'top'
        }
      },
      behaviors: [
        Polymer.IronFormElementBehavior,
        Polymer.PaperInputBehavior,
        OEUtils.FieldBehavior
      ],

      /**
       * Returns a reference to the input element.
       */
      get inputElement() {
        return this.$.input;
      },

      _fetchListData: function () {
        if (this.listurl) {
          var self = this;
          var ajaxCall = document.createElement('oe-ajax');
          ajaxCall.contentType = 'application/json';
          ajaxCall.handleAs = 'json';
          ajaxCall.url = this.listurl;
          ajaxCall.method = 'get';
          ajaxCall.addEventListener('response', function (event) {
            self.set('listdata', event.detail.response);
          });
          ajaxCall.addEventListener('error', function (event) { // eslint-disable-line no-unused-vars
            console.error('error fetching the list');
          });
          ajaxCall.generateRequest();
        }
      },

      _valueChanged: function (newV, oldV) { // eslint-disable-line no-unused-vars
        this._setDisplayAndValidate();
      },
      _listDataChanged: function (newV, oldV) { // eslint-disable-line no-unused-vars
        if (this.listdata) {
          if (this.sort) {
            this.listdata.sort(this.sortData.bind(this));
          }
          this._setDisplayAndValidate();
        }
      },
      _validate: function () {

        var isValid = true;
        if (!this.allowFreeText && this.displayValue && !this.selectedItem) {
          this.setValidity(false, 'invalidValue');
          isValid = false;
        } else if (!this.allowFreeText && this.displayValue != this._getDisplayValue(this.selectedItem)) {
          this.setValidity(false, 'invalidValue');
          isValid = false;
        } else if (this.required && !this.value) {
          this.setValidity(false, 'valueMissing');
          isValid = false;
        }
        return isValid;

        //
        //                var isValid = false;
        //                if (this.displayValue) {
        //                    for (idx in this.listdata) {
        //                        var obj = this.displayproperty ? this.listdata[idx][this.displayproperty] : this.listdata[idx];
        //                        if (obj == this.displayValue) {
        //                            isValid = true;
        //                            break;
        //                        }
        //                    }
        //                    if (!isValid) {
        //                        this.setValidity(false, 'invalidValue');
        //                    }
        //                } else {
        //                    isValid = true;
        //                }
        //                return isValid;

      },
      _setDisplayAndValidate: function () {

        if (this.value !== null && this.value !== undefined && this.listdata) {
          var matchFound = false;
          for (var idx in this.listdata) {
            var item = this.listdata[idx];
            if ((this.valueproperty && this.value == item[this.valueproperty]) || this.value == item) {
              matchFound = true;
              this.displayValue = this._getDisplayValue(item);
              this.selectedItem = item;
              this.setValidity(true, undefined);
              break;
            }
          }
          if (!matchFound) {
            if (this.value && typeof this.value === 'object') {
              this.selectedItem = this.value;
              this.displayValue = this._getDisplayValue(this.value);
              this.setValidity(true, undefined);
            } else {
              this.setValidity(false, 'invalidValue');
            }
          }
        } else {
          this.displayValue = '';
          this.setValidity(true, undefined);
        }
      },
      attached: function () {
        if (this.value) {
          this._setDisplayAndValidate();
        }
        this.boundClickHandler = this._closeIfApplicable.bind(this);
        this._suggestions = [];
      },

      _keydown: function (e) {
        if (e.keyCode == 40 || e.keyCode == 38) {
          e.preventDefault();
        } else if (e.keyCode == 13 && this.expand) {
          e.stopPropagation();
        }
      },
      _keyup: function (e) {

        if (e.keyCode == 40) {
          //down button
          this._handleDownEvent(e);
        } else if (e.keyCode == 38) {
          //up
          this._handleUpEvent(e);
        } else if (e.keyCode == 13) {
          //Enter
          this._handleEnterEvent(e);
        } else if (e.keyCode != 9) {
          //ignore tab in
          //Pass only the unselected text for search
          var searchTerm = this.displayValue;
          if (this.$.input.selectionStart > 0) {
            searchTerm = searchTerm.substring(0, this.$.input.selectionStart);
          }

          this._search(e, searchTerm.trim());
        }
      },

      _handleDownEvent: function (e) { // eslint-disable-line no-unused-vars
        if (!this.sort || this._suggestions.length == 0) {
          this._suggestions = this.listdata;
          this._menuOpen(false);
        }
        var suggestionsMenu = this.$.menu;
        if (suggestionsMenu && typeof (suggestionsMenu) != 'undefined') {
          var selectedItem = suggestionsMenu.focusedItem;
          var index = 0;
          if (typeof (selectedItem) != 'undefined') {
            index = Number(suggestionsMenu.indexOf(selectedItem));
            //Math.min(index + 1, this._suggestions.length - 1);
            index = index < this._suggestions.length - 1 ? index + 1 : 0;
          }
          suggestionsMenu.select(index);
          this.$.input.focus();
        }
      },

      _handleUpEvent: function (e) { // eslint-disable-line no-unused-vars
        var suggestionsMenu = this.$.menu;
        if (suggestionsMenu && typeof (suggestionsMenu) != 'undefined') {
          var selectedItem = suggestionsMenu.focusedItem;
          if (typeof (selectedItem) != 'undefined') {
            var index = Number(suggestionsMenu.indexOf(selectedItem));
            //Math.max(index - 1, -1);
            index = index > 0 ? index - 1 : this._suggestions.length - 1;
            suggestionsMenu.select(index);
          }
          this.$.input.focus();
        }
      },

      _handleEnterEvent: function (e) { // eslint-disable-line no-unused-vars
        if (this.expand) {
          var suggestionsMenu = this.$.menu;
          if (suggestionsMenu && typeof (suggestionsMenu) != 'undefined') {
            var selectedItem = suggestionsMenu.focusedItem;
            if (typeof (selectedItem) != 'undefined') {
              this._setSelectedItem(selectedItem.dataItem);
            }
            this.$.input.focus();
          }
        }
      },

      _handleTabEvent: function (e) { // eslint-disable-line no-unused-vars
        //TODO: Need to check for what to handle on tab event
      },

      _menuClose: function () {
        this._suggestions = [];
        this.set('expand', false);
      },

      _menuOpen: function (sort) {
        var elementPos = (window.innerHeight / this.getBoundingClientRect().top);
        var validatePos = elementPos < 1.7
        this.set('verticalAlign', validatePos ? 'bottom' : 'top');
        this.set('verticalOffset', validatePos ? 63 : 0);
        this.set('expand', true);
        if (sort) this.set('sort', true);
        else this.set('sort', false);

        Polymer.dom.flush();
      },

      /*
       *		Shows all the listdata items when drop down arrow clicks
       *		It will check for open if not it will add class open and it will add to suggestions
       */
      _dropdownClick: function (e) { // eslint-disable-line no-unused-vars
        if (this.expand) {
          this._menuClose();
          //this._setDisplayAndValidate();
        } else {
          if (this.listdata) {
            this._suggestions = this.listdata;
            this._menuOpen(false);
          }
        }
        this.$.input.focus();
      },

      /*
       * It will execute when the expand property changes
       * And adds event listener for click on html when it open (expand = true)
       */
      _expandChange: function () {
        var hold = document.querySelector('html');
        var self = this;
        if (this.expand) {
          this.$.dropdown.style.width = this.offsetWidth - 10 + 'px';
          hold.addEventListener('click', self.boundClickHandler);
        } else {
          hold.removeEventListener('click', self.boundClickHandler);
        }
      },

      _closeIfApplicable: function (event) {
        var self = this;
        if (event.target != self.$.input && event.target != self.$.dropdownicon) {
          this._menuClose();
          //this._setDisplayAndValidate();
        }
      },


      /* on-mouseover it will fire */
      _selection: function (e) {
        var suggestionsMenu = this.$.menu;
        if (suggestionsMenu && typeof (suggestionsMenu) != 'undefined') {
          suggestionsMenu.select(e.currentTarget.dataIndex);
          this.$.input.focus();
        }
      },

      /* on-tap it will fire */
      _select: function (e) {
        this._setSelectedItem(e.currentTarget.dataItem);
        this.$.input.focus();
        e.stopPropagation();
      },

      /*Revisit getDisplayValue with iron-list template */
      _getDisplayValue: function (item) {
        var ret = item;
        if (ret && this.displayproperty) {
          ret = ret[this.displayproperty];
        }
        return (ret !== null && ret !== undefined) ? ret.toString() : '';
      },

      /* It will fire when we type any key except ['enter', 'up', 'down']*/
      _search: function (e, term) {
        var self = this;
        if (term == '') {
          self._menuClose();
          self.value = undefined;
          self.selectedItem = undefined;
          if (!self.required) {
            self.setValidity(true, undefined);
          }
          return;
        }
        var results = self._findMatchedObjects(term);
        if (results.length == 1 && e.keyCode != 8) {
          //there is exactly only one match. set it directly.
          //no need to open the menu.
          self._setSelectedItem(results[0]);

          //get length of current displayvalue and make remaining as selected
          this.$.input.setSelectionRange(term.length, self.displayValue.length);
        } else {
          self._menuOpen(true);
          var suggestionsMenu = self.$.menu;
          if (self.allowFreeText) {
            var newValue = self.displayValue;
            if (self.valueproperty || self.displayproperty) {
              newValue = {};
              if (self.valueproperty) {
                newValue[self.valueproperty] = self.displayValue;
              }
              if (self.displayproperty) {
                newValue[self.displayproperty] = self.displayValue;
              }
            }
            self._setSelectedItem(newValue);
          } else if (suggestionsMenu && typeof (suggestionsMenu) != 'undefined') {
            suggestionsMenu.select(0);
            self.$.input.focus();
          }
        }

      },

      /*
       *	finds the matched objects
       * TODO: Check regular expression for all the possible cases and for valid expression also.
       */
      _findMatchedObjects: function (val) {
        var match = [],
          results = [],
          unmatch = [];

        //replacing special characters from the string with space from regular expression
        val = val.replace(/[`~!@#$%^&*()|+\=?;:'",.<>\{\}\[\]\\\/]/gi, '');
        var regEx = new RegExp(val, 'i');
        var regEx2 = new RegExp('^' + val, 'i');
        //loop through out the list for checking the object's matches on val
        for (var idx in this.listdata) {
          var item = this.listdata[idx];
          var dispVal = this._getDisplayValue(item);
          var obj = dispVal.match(regEx);
          if (obj) {
            // if the obj matches push to the result array
            match.push(item);
            if (dispVal.match(regEx2)) {
              results.push(item);
            }
          } else {
            unmatch.push(item);
          }
        }

        //                if (match.length == 0) {
        //                    this.setValidity(false, 'invalidValue');
        //                }

        this._suggestions = match.concat(unmatch);
        return results;
      },

      //            _isMatchedObject: function () {
      //                var list = this.listdata;
      //                if (list) {
      //                    var flag = false;
      //                    for (key in list) {
      //                        obj = this.displayproperty ? list[key][this.displayproperty].toUpperCase() : list[key];
      //                        if (obj == this.$.input.value.toUpperCase()) {
      //                            this._setSelectedItem(list[key]);
      //                            flag = true;
      //                            break;
      //                        }
      //                    }
      //                    if (!flag) {
      //                        this.value = "";
      //                        if (this.$.input.value)
      //                            this.setValidity(false, 'Not Matched');
      //                    }
      //                } else {
      //                    console.log('Objects are not present');
      //                }
      //            },

      /*
       * Set the value to the value property
       * This will be the final step for selecting the listed items
       */
      _setSelectedItem: function (item) {

        this.selectedItem = item;
        this.displayValue = this._getDisplayValue(item);

        if (this.valueproperty) {
          this.value = item ? item[this.valueproperty] : undefined;
        } else {
          this.value = item;
        }
        this.fire('pt-item-confirmed', item);
        this.setValidity(true, '');
        this._menuClose();

        this.async(function () {
          this.fire('change');
        });
      },

      /*
       * Sorts data based on displayproperty
       * Kept method as public so that user can overwrite it if needed
       */
      sortData: function (a, b) {
        var displayValueA = this._getDisplayValue(a).toString();
        var displayValueB = this._getDisplayValue(b).toString();
        return displayValueA.toLowerCase().localeCompare(displayValueB.toLowerCase());
      }
    });

  </script>
</dom-module>
