<!--
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->

<!doctype html>

<html>

<head>

  <title>oe-paper-chip tests</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

  <script src="../../web-component-tester/browser.js"></script>
  <script src="../../iron-test-helpers/test-helpers.js"></script>
  <script src="../../iron-test-helpers/mock-interactions.js"></script>

  <link rel="import" href="../oe-paper-chip.html">

</head>

<body>
  <test-fixture id="basic">
    <template>
      <oe-paper-chip></oe-paper-chip>
    </template>
  </test-fixture>
  <test-fixture id="withvalue">
    <template>
      <oe-paper-chip value='["IND","USA","UK"]'></oe-paper-chip>
    </template>
  </test-fixture>
  <test-fixture id="maxValidation">
    <template>
      <oe-paper-chip max="2" value='["IND", "USA"]'></oe-paper-chip>
    </template>
  </test-fixture>
  <test-fixture id="unique">
    <template>
      <oe-paper-chip unique value='["IND", "USA"]'></oe-paper-chip>
    </template>
  </test-fixture>
  <test-fixture id="minValidation">
    <template>
      <oe-paper-chip min="3" value='["IND"]'></oe-paper-chip>
    </template>
  </test-fixture>
  <script>
    suite('<oe-paper-chip>', function () {
      test('If not specified, value remains undefined', function () {
        var input = fixture('basic');
        expect(input.value).to.not.exist;
      });
      test('check for datalist', function () {
        var input = fixture('withvalue');
        expect(input.value).to.deep.equal(['IND', 'USA', 'UK']);
      });
      test('Entering the value inside paper chip', function () {
        var elem = fixture('basic');
        var input = elem.$.tagInput;
        input.value = 'IND';
        MockInteractions.keyDownOn(input, 188);
        expect(elem.value.length).to.equal(1);
        expect(elem.value).to.deep.equal(['IND']);
      });

      test('Removing the paper chip by pressing back space', function () {
        var elem = fixture('withvalue');
        var input = elem.$.tagInput;
        MockInteractions.keyDownOn(input, 8);
        expect(elem.value.length).to.equal(2);
        expect(elem.value).to.deep.equal(['IND', 'USA']);
      });

      test('Removing paper chips by clicking icon on paper-chip', function () {
        var elem = fixture('withvalue');
        forceXIfStamp(elem);
        var chip = elem.querySelectorAll('paper-chip');
        MockInteractions.tap(chip[1].$.removeBtn);
        expect(elem.value.length).to.equal(2);
        expect(elem.value).to.deep.equal(['IND', 'UK']);
      });

      test('Basic Validations for max', function () {
        var elem = fixture('maxValidation');
        var input = elem.$.tagInput;
        input.value = 'UK';
        // demo is working fine for max  if we set on element and this.max in _validate function getting the value
        // But in the test, even though we set max on element this.max in _validate function is undefined
        // so for this we are manually setting max elem.set('max',2);
        // Need to check
        elem.set('max', 2);
        input.value = 'UK';
        MockInteractions.keyDownOn(input, 188);
        var error = elem.querySelector('oe-input-error');
        assert.ok(error, 'oe-input-error exists');
        assert.notEqual(getComputedStyle(error).display, 'none', 'error is not display:none');
      });

      test('Basic Validations for min', function () {
        var elem = fixture('minValidation');
        elem.set('min', 3);
        var input = elem.$.tagInput;
        input.value = 'UK';
        MockInteractions.keyDownOn(input, 188);
        var error = elem.querySelector('oe-input-error');
        assert.ok(error, 'oe-input-error exists');
        assert.notEqual(getComputedStyle(error).display, 'none', 'error is not display:none');
      });

      test('When unique is specified, only unique values are accepted', function () {
        var elem = fixture('unique');
        expect(elem.value.length).to.equal(2);

        var input = elem.$.tagInput;
        input.value = 'USA';
        MockInteractions.keyDownOn(input, 188);
        expect(elem.value.length).to.equal(2);
        expect(input.value).to.equal('');

        input.value = 'UAE';
        MockInteractions.keyDownOn(input, 188);
        expect(elem.value.length).to.equal(3);
        expect(input.value).to.equal('');
      });
    });

  </script>

</body>

</html>
