<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>oe-i18n-msg</title>

  <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
  <script src="../../test-fixture/test-fixture-mocha.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../oe-i18n-msg.html">
  <link rel="import" href="../oe-i18n-msg-behavior.html">
  <link rel="import" href="../../test-fixture/test-fixture.html">
  <link rel="import" href="../demo/oe-i18n-msg-behavior-example.html">
</head>
<body>

  <test-fixture id="oe-i18n-msg-behavior-element-wp">
    <template>
      <oe-i18n-msg-behavior-example-wp></oe-i18n-msg-behavior-example-wp>
    </template>
  </test-fixture>

  <test-fixture id="oe-i18n-msg-behavior-element">
    <template>
      <oe-i18n-msg-behavior-example></oe-i18n-msg-behavior-example>
    </template>
  </test-fixture>

  <script>

    var OEi18nMsgBehaviorElementWp;
    var OEi18nMsgBehaviorElement;

    setup(function() {
      OEi18nMsgBehaviorElement = fixture('oe-i18n-msg-behavior-element');
      OEi18nMsgBehaviorElementWp = fixture('oe-i18n-msg-behavior-element-wp');
    });

    OEi18nMsg.lang = 'es';
    OEi18nMsg.url = '../demo/locales';

    suite('<oe-i18n-msg-behavior-element-wp>', function() {
      test('Day property is setted', function(done) {
        flush(function() {
          var h1 = OEi18nMsgBehaviorElementWp.querySelector('h1').textContent;
          assert.equal(h1, 'días');
          done();
        });
      });
      test('Hours property is setted', function(done) {
        flush(function() {
          var span = OEi18nMsgBehaviorElementWp.querySelector('span').textContent;
          assert.equal(span, 'horas');
          done();
        });
      });
    });

    suite('<oe-i18n-msg-behavior>', function() {
      test('Day property is setted', function(done) {
        flush(function() {
          var h1 = OEi18nMsgBehaviorElement.querySelector('h1').textContent;
          assert.equal(h1, 'días');
          done();
        });
      });
      test('Hours property is not setted', function(done) {
        flush(function() {
          var span = OEi18nMsgBehaviorElement.querySelector('span').textContent;
          assert.equal(span, '');
          done();
        });
      });
    });
  </script>
</body>
</html>
