<link rel="import" href="../oe-i18n-msg-behavior.html">

<!--
`<oe-i18n-msg-behavior-example>`
Example of oe-i18n-msg-behavior usage in a component page.
With i18n override
-->

<dom-module id="oe-i18n-msg-behavior-example">
  <template>
    <h1>[[i18n.days]]</h1>
    <span>[[i18n.hours]]</span>
  </template>
</dom-module>

<script>
(function () {

  Polymer({
    is: 'oe-i18n-msg-behavior-example',

    behaviors: [ OEi18nMsgBehavior ],

    properties: {
      i18n: {
        value: {
          days: ''
        }
      }
    }
  });
})();
</script>

<!--
`<oe-i18n-msg-behavior-example-wp>`
Example of oe-i18n-msg-behavior usage in a component page.
-->

<dom-module id="oe-i18n-msg-behavior-example-wp">
  <template>
    <h1>[[i18n.days]]</h1>
    <span>[[i18n.hours]]</span>
  </template>
</dom-module>

<script>
(function () {

  Polymer({
    is: 'oe-i18n-msg-behavior-example-wp',

    behaviors: [ OEi18nMsgBehavior ]
  });
})();
</script>
